/*=== Reset/Global ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

.hidden {
  display: none;
}

/*=== Main Sections ===*/

body {
  background-image: url('../images/Parchment-3.jpg');
  background-attachment: fixed;
  height: 100vh;
  margin: 20px;
  padding: 0;
  text-align: center;
}

header {
  width: 100%;
  display: inline-grid;
  grid-template-rows: 25% 75%;
}

.currentLocation{
  display: inline-block;
}
// .locationWrap {
//   display: inline-block;
// }

h2{

}

ul {
  list-style-type: none;
  background-color: #130702;
  overflow: hidden;
  height: 40px;
  margin: 0;
  padding: 2px;
  text-align: center;
}

li {
  display: inline;
  color: #F2EDE3;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align: sub;
  cursor: pointer;
  padding: 0vh 5vh 0vh 5vh;
}

li:hover {
  color: #548687
}

// li:active {
//   background-color: #548687;
//   font-color: #130702;
// }

.nav-bar {
  align-self: flex-end;
}

/*=== Header ===*/

.logo {
  height: 70px;
}

.greeting {
  flex: none;
  font-size: 40px;
  color: #548687;
  padding: 12px;
}

.currentLocation {
  flex: none;
}

.greetingWrap {
  display: inline-flex;
}
aside {
  grid-area: aside;
}


.loginPage {
  width: 100%;
  text-align: center;
  margin-top: 40vh;
}

.dashboard .tripCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main {
  display: grid;
  font-family: 'calibri', sans-serif;
}

.banner {
  font-size: 30px;
  padding: 20px;
}

.big-trip-card {
  display: grid;
  border: 2px dashed #130702;
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
  height: 250px;
  margin: 20px;
  padding: 15px;
  width: 250px;
}

.dashboard .photo-preview {
  width: 90%;
  // height: 100px;
}

.big-trip-card:hover .photo-preview {
  opacity: 50%;
  transition: .8s ease;
}

.big-trip-card:hover .text {
  font-size: 20px;
  opacity: 100%;
  transition: .5s ease;
  width: 100%;
}
.text {
  font-weight: 700;
  font-size: 0px;
  opacity: 0%;
  padding: 0%;
  position: relative;
  text-align: center;
  width: 0%;
  transition: .5s ease;
}
.trip-details {
  background: white;
  border: 2px solid #130702;
  border-radius: 360px;
  box-shadow: 1px 1px 115px black;
  height: 500px;
  width: 500px;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 25%;
  top: 15%;
  z-index: 1000;
}
.detailPhoto {
  z-index: 1000;
  opacity: .30;
  height: 81%;
  margin: -73px;
}

// #overlay {
//   filter:alpha(opacity=50);
//   height:100%;
//   left:0;
//   opacity:0.5;
//   position:fixed;
//   top:0;
//   width:100%;
//   z-index:100;
// }

// #exitTripDetails {
//   background: white;
//   border: 2px solid #130702;
//   border-radius: 5px;
//   color: #130702;
//   cursor: pointer;
//   font-weight: 700;
// }

#exitTripDetails:hover {
  background: #548687;
  transition: .3s ease;
}

#tripDetailsDest {
  // background-repeat: no-repeat;
  // background-size: cover;
  color: #130702;
  font-size: 32px;
  margin: 0;
  height: 17%;
  // padding: 75px 0px 0px 0px;
  // text-shadow: 0px 0px 6px black;
}
