/*=== Reset/Global ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

.hidden {
  display: none;
}

button {
  color: #130702;
  height: 30px;
  padding: 5px;
  margin: 5px;
  font-family: 'Arial';
  font-size: 15px;
}

form {
  padding: 5px;
}

/*=== Main Sections ===*/

body {
  background-image: url('../images/Parchment-3.jpg');
  background-attachment: fixed;
  height: 100vh;
  margin: 20px;
  padding: 0;
  text-align: center;
}

header {
  width: 100%;
  display: inline-grid;
  grid-template-rows: 83% 17%;
}

main {
  display: grid;
  font-family: 'calibri', sans-serif;
}

/*=== Login Page ===*/
//h1
#loginTitle {
  font-size: 15px;
  font-size: 40px;
  color: #548687;
  font-family: 'Rye', cursive;
}

.login-logo-img {
  opacity: .25;
  height: 400px;
}

.loginPage {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

/*=== Header ===*/

.currentLocation {
  display: inline-block;
  flex: none;
}

.logo {
  height: 100px;
  padding: 0px 15px 20px 20px;
}

.greeting {
  height: fit-content;
  flex: none;
  font-size: 40px;
  color: #548687;
  font-family: 'Rye', cursive;
  padding: 31px 15px 12px 15px;
}

.greetingWrap {
  height: fit-content;
  display: inline-flex;
  text-align: center;
  vertical-align: sub;
}

.locationWrap {
  text-align: left;
  height: fit-content;
  align-self: flex-end;
  padding: 40px;
}

.totalCost {
  text-align: left;
  height: fit-content;
  align-self: flex-end;
  padding: 40px;
}
/*=== Nav Bar ===*/

ul {
  list-style-type: none;
  background-color: #130702;
  overflow: hidden;
  height: 40px;
  margin: 0;
  padding: 2px;
  text-align: center;
  font-size: 20px;
}

li {
  display: inline;
  color: #F2EDE3;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align: sub;
  cursor: pointer;
  padding: 0vh 8vh;
}

li:hover {
  color: #548687
}

.nav-bar {
  align-self: flex-end;
}

/*=== Cards View ===*/

.banner {
  font-size: 30px;
  padding: 20px;
}

.dashboard .tripCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 25px;
}

.tripCard {
  display: grid;
  border: 2px dashed #130702;
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
  height: 260px;
  margin: 20px;
  padding: 15px;
  width: 250px;
}

.dashboard .photo-preview {
  width: 90%;
}

.tripCard:hover .photo-preview {
  opacity: 50%;
  transition: .8s ease;
}

.tripCard:hover .text {
  font-size: 20px;
  opacity: 100%;
  transition: .5s ease;
  width: 100%;
}
.text {
  font-weight: 700;
  font-size: 0px;
  opacity: 0%;
  padding: 0%;
  position: relative;
  text-align: center;
  width: 0%;
  transition: .5s ease;
}


/*=== Booking View ===*/



/*=== Trip Details Popup ===*/

.trip-details {
  background: white;
  border: 2px solid #130702;
  border-radius: 360px;
  box-shadow: 1px 1px 115px black;
  height: 500px;
  width: 500px;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 25%;
  top: 15%;
  z-index: 1000;
}
.detailPhoto {
  z-index: 1000;
  opacity: .30;
  height: 81%;
  margin: -73px;
}

#tripDetailsDest {
  color: #130702;
  font-size: 32px;
  margin: 0;
  height: 17%;
}


// li:active {
//   background-color: #548687;
//   font-color: #130702;
// }
// aside {
//   grid-area: aside;
// }

// #overlay {
//   filter:alpha(opacity=50);
//   height:100%;
//   left:0;
//   opacity:0.5;
//   position:fixed;
//   top:0;
//   width:100%;
//   z-index:100;
// }

// #exitTripDetails {
//   background: white;
//   border: 2px solid #130702;
//   border-radius: 5px;
//   color: #130702;
//   cursor: pointer;
//   font-weight: 700;
// }

// #exitTripDetails:hover {
//   background: #548687;
//   transition: .3s ease;
// }
