$blue-highlight-color: #548687;
$default-font-family: 'calibri', sans-serif;
$headline-font-family: 'Rye', cursive;
$black-border-color: #130702;
$tan-font-color: #F2EDE3;
$off-white-background-color: #f9f9f9;
